<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by
Stephen Brawner (brawner@gmail.com)
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="tianji_right_arm_v60" params="prefix dynamics_yaml">
    <xacro:property name="robot_sn" value="${xacro.load_yaml(dynamics_yaml)}"/>
    <xacro:property name="dynamics_params" value="${robot_sn['robot_dynamics']}"/>
    <link name="${prefix}right_base_link">
      <inertial>
        <origin
          xyz="0.0001427 1.626E-05 0.039067"
          rpy="0 0 0" />
        <mass value="1.2946" />
        <inertia
          ixx="0.0031404"
          ixy="1.07E-06"
          ixz="-9.1E-07"
          iyy="0.0031251"
          iyz="3.9E-06"
          izz="0.0014169" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/Base_R.STL" />
        </geometry>
        <material name="">
          <color rgba="1 0 0 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/collision/Base_R.STL" />
        </geometry>
      </collision>
    </link>
    <link name="${prefix}right_shoulder_pitch_link">
      <inertial>
        <origin
                xyz="${dynamics_params['right_shoulder_pitch_link']['com']['x']} ${dynamics_params['right_shoulder_pitch_link']['com']['y']} ${dynamics_params['right_shoulder_pitch_link']['com']['z']}"
                rpy="0 0 0" />
        <mass value="${dynamics_params['right_shoulder_pitch_link']['mass']}" />
        <inertia
                ixx="${dynamics_params['right_shoulder_pitch_link']['inertia']['Ixx']}"
                ixy="${dynamics_params['right_shoulder_pitch_link']['inertia']['Ixy']}"
                ixz="${dynamics_params['right_shoulder_pitch_link']['inertia']['Ixz']}"
                iyy="${dynamics_params['right_shoulder_pitch_link']['inertia']['Iyy']}"
                iyz="${dynamics_params['right_shoulder_pitch_link']['inertia']['Iyz']}"
                izz="${dynamics_params['right_shoulder_pitch_link']['inertia']['Izz']}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/Link1_R.STL" />
        </geometry>
        <material name="">
          <color rgba="0 1 0 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/collision/Link1_R.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}right_shoulder_pitch_joint"
      type="revolute">
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <parent link="${prefix}right_base_link" />
      <child link="${prefix}right_shoulder_pitch_link" />
      <axis xyz="0 0 1" />
      <limit
        lower="-3.1067"
        upper="3.1067"
        effort="108"
        velocity="3.1416" />
    </joint>
    <link name="${prefix}right_shoulder_roll_link">
      <inertial>
        <origin
                xyz="${dynamics_params['right_shoulder_roll_link']['com']['x']} ${dynamics_params['right_shoulder_roll_link']['com']['y']} ${dynamics_params['right_shoulder_roll_link']['com']['z']}"
                rpy="0 0 0" />
        <mass value="${dynamics_params['right_shoulder_roll_link']['mass']}" />
        <inertia
                ixx="${dynamics_params['right_shoulder_roll_link']['inertia']['Ixx']}"
                ixy="${dynamics_params['right_shoulder_roll_link']['inertia']['Ixy']}"
                ixz="${dynamics_params['right_shoulder_roll_link']['inertia']['Ixz']}"
                iyy="${dynamics_params['right_shoulder_roll_link']['inertia']['Iyy']}"
                iyz="${dynamics_params['right_shoulder_roll_link']['inertia']['Iyz']}"
                izz="${dynamics_params['right_shoulder_roll_link']['inertia']['Izz']}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/Link2_R.STL" />
        </geometry>
        <material name="">
          <color rgba="0 0 1 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/collision/Link2_R.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}right_shoulder_roll_joint" type="revolute">
      <origin
        xyz="0 0 0.1745"
        rpy="1.5708 0 0" />
      <parent link="${prefix}right_shoulder_pitch_link" />
      <child link="${prefix}right_shoulder_roll_link" />
      <axis xyz="0 0 1" />
      <limit
        lower="-2.0944"
        upper="2.0944"
        effort="108"
        velocity="3.1416" />
    </joint>
    <link name="${prefix}right_shoulder_yaw_link">
      <inertial>
        <origin
                xyz="${dynamics_params['right_shoulder_yaw_link']['com']['x']} ${dynamics_params['right_shoulder_yaw_link']['com']['y']} ${dynamics_params['right_shoulder_yaw_link']['com']['z']}"
                rpy="0 0 0" />
        <mass value="${dynamics_params['right_shoulder_yaw_link']['mass']}" />
        <inertia
                ixx="${dynamics_params['right_shoulder_yaw_link']['inertia']['Ixx']}"
                ixy="${dynamics_params['right_shoulder_yaw_link']['inertia']['Ixy']}"
                ixz="${dynamics_params['right_shoulder_yaw_link']['inertia']['Ixz']}"
                iyy="${dynamics_params['right_shoulder_yaw_link']['inertia']['Iyy']}"
                iyz="${dynamics_params['right_shoulder_yaw_link']['inertia']['Iyz']}"
                izz="${dynamics_params['right_shoulder_yaw_link']['inertia']['Izz']}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/Link3_R.STL" />
        </geometry>
        <material name="">
          <color rgba="1 0 0 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/collision/Link3_R.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}right_shoulder_yaw_joint" type="revolute">
      <origin
        xyz="0 0 0"
        rpy="-1.5708 0 0" />
      <parent link="${prefix}right_shoulder_roll_link" />
      <child link="${prefix}right_shoulder_yaw_link" />
      <axis xyz="0 0 1" />
      <limit
        lower="-3.1067"
        upper="3.1067"
        effort="66"
        velocity="3.1416" />
    </joint>
    <link name="${prefix}right_elbow_roll_link">
      <inertial>
        <origin
                xyz="${dynamics_params['right_elbow_roll_link']['com']['x']} ${dynamics_params['right_elbow_roll_link']['com']['y']} ${dynamics_params['right_elbow_roll_link']['com']['z']}"
                rpy="0 0 0" />
        <mass value="${dynamics_params['right_elbow_roll_link']['mass']}" />
        <inertia
                ixx="${dynamics_params['right_elbow_roll_link']['inertia']['Ixx']}"
                ixy="${dynamics_params['right_elbow_roll_link']['inertia']['Ixy']}"
                ixz="${dynamics_params['right_elbow_roll_link']['inertia']['Ixz']}"
                iyy="${dynamics_params['right_elbow_roll_link']['inertia']['Iyy']}"
                iyz="${dynamics_params['right_elbow_roll_link']['inertia']['Iyz']}"
                izz="${dynamics_params['right_elbow_roll_link']['inertia']['Izz']}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/Link4_R.STL" />
        </geometry>
        <material name="">
          <color rgba="0 1 0 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/collision/Link4_R.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}right_elbow_roll_joint" type="revolute">
      <origin
        xyz="0.018 0 0.287"
        rpy="1.5708 0 0" />
      <parent link="${prefix}right_shoulder_yaw_link" />
      <child link="${prefix}right_elbow_roll_link" />
      <axis xyz="0 0 1" />
      <limit
        lower="-2.5307"
        upper="1.0472"
        effort="66"
        velocity="3.1416" />
    </joint>
    <link name="${prefix}right_elbow_yaw_link">
      <inertial>
        <origin
                xyz="${dynamics_params['right_elbow_yaw_link']['com']['x']} ${dynamics_params['right_elbow_yaw_link']['com']['y']} ${dynamics_params['right_elbow_yaw_link']['com']['z']}"
                rpy="0 0 0" />
        <mass value="${dynamics_params['right_elbow_yaw_link']['mass']}" />
        <inertia
                ixx="${dynamics_params['right_elbow_yaw_link']['inertia']['Ixx']}"
                ixy="${dynamics_params['right_elbow_yaw_link']['inertia']['Ixy']}"
                ixz="${dynamics_params['right_elbow_yaw_link']['inertia']['Ixz']}"
                iyy="${dynamics_params['right_elbow_yaw_link']['inertia']['Iyy']}"
                iyz="${dynamics_params['right_elbow_yaw_link']['inertia']['Iyz']}"
                izz="${dynamics_params['right_elbow_yaw_link']['inertia']['Izz']}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/Link5_R.STL" />
        </geometry>
        <material name="">
          <color rgba="0 0 1 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/collision/Link5_R.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}right_elbow_yaw_joint" type="revolute">
      <origin
        xyz="-0.018 0 0"
        rpy="-1.5708 0 0" />
      <parent link="${prefix}right_elbow_roll_link" />
      <child link="${prefix}right_elbow_yaw_link" />
      <axis xyz="0 0 1" />
      <limit
        lower="-3.1067"
        upper="3.1067"
        effort="18"
        velocity="3.1416" />
    </joint>
    <link name="${prefix}right_wrist_roll_link">
      <inertial>
        <origin
                xyz="${dynamics_params['right_wrist_roll_link']['com']['x']} ${dynamics_params['right_wrist_roll_link']['com']['y']} ${dynamics_params['right_wrist_roll_link']['com']['z']}"
                rpy="0 0 0" />
        <mass value="${dynamics_params['right_wrist_roll_link']['mass']}" />
        <inertia
                ixx="${dynamics_params['right_wrist_roll_link']['inertia']['Ixx']}"
                ixy="${dynamics_params['right_wrist_roll_link']['inertia']['Ixy']}"
                ixz="${dynamics_params['right_wrist_roll_link']['inertia']['Ixz']}"
                iyy="${dynamics_params['right_wrist_roll_link']['inertia']['Iyy']}"
                iyz="${dynamics_params['right_wrist_roll_link']['inertia']['Iyz']}"
                izz="${dynamics_params['right_wrist_roll_link']['inertia']['Izz']}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/Link6_R.STL" />
        </geometry>
        <material name="">
          <color rgba="1 0 0 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/collision/Link6_R.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}right_wrist_roll_joint" type="revolute">
      <origin
        xyz="0 0 0.314"
        rpy="1.5708 0 0" />
      <parent link="${prefix}right_elbow_yaw_link" />
      <child link="${prefix}right_wrist_roll_link" />
      <axis xyz="0 0 1" />
      <limit
        lower="-1.0472"
        upper="1.0472"
        effort="18"
        velocity="3.1416" />
    </joint>
    <link name="${prefix}right_wrist_pitch_link">
      <inertial>
        <origin
                xyz="${dynamics_params['right_wrist_pitch_link']['com']['x']} ${dynamics_params['right_wrist_pitch_link']['com']['y']} ${dynamics_params['right_wrist_pitch_link']['com']['z']}"
                rpy="0 0 0" />
        <mass value="${dynamics_params['right_wrist_pitch_link']['mass']}" />
        <inertia
                ixx="${dynamics_params['right_wrist_pitch_link']['inertia']['Ixx']}"
                ixy="${dynamics_params['right_wrist_pitch_link']['inertia']['Ixy']}"
                ixz="${dynamics_params['right_wrist_pitch_link']['inertia']['Ixz']}"
                iyy="${dynamics_params['right_wrist_pitch_link']['inertia']['Iyy']}"
                iyz="${dynamics_params['right_wrist_pitch_link']['inertia']['Iyz']}"
                izz="${dynamics_params['right_wrist_pitch_link']['inertia']['Izz']}" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/Link7_R.STL" />
        </geometry>
        <material name="">
          <color rgba="0 1 0 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://cx002_description/meshes/Marvin M6-S-R-CCS-689 V3.0/collision/Link7_R.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}right_wrist_pitch_joint" type="revolute">
      <origin
        xyz="0 0 0"
        rpy="1.5708 0 1.5708" />
      <parent link="${prefix}right_wrist_roll_link" />
      <child link="${prefix}right_wrist_pitch_link" />
      <axis xyz="0 0 1" />
      <limit
        lower="-1.5708"
        upper="1.5708"
        effort="18"
        velocity="3.1416" />
    </joint>
    <link name="${prefix}right_flange"/>
    <joint
      name="${prefix}right_flange_joint"
      type="fixed">
      <origin
        xyz="0.086 0.0 0.0"
        rpy="0 0 0" />
      <parent
        link="${prefix}right_wrist_pitch_link" />
      <child
        link="${prefix}right_flange" />
      <axis
        xyz="0 0 1" />
    </joint>
  </xacro:macro>
</robot>
