<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="ld_STL-27L" params="prefix">
    <link name="${prefix}laser_base">
      <inertial>
        <origin xyz="0 0 0.03" rpy="0 0 0"/>
        <mass value="0.0145098733371325"/>
        <inertia ixx="1.31154092579587E-05" ixy="2.30174744915791E-07" ixz="-1.33602201591692E-09" iyy="1.37294183645858E-06" iyz="-1.54099158222408E-08" izz="1.23744229267791E-05"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://cx002_description/meshes/ld_STL-27L/STL-27L.stl"/>
        </geometry>
        <material name="">
          <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://cx002_description/meshes/ld_STL-27L/STL-27L.stl"/>
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}laser_joint" type="fixed">
      <origin xyz="0 0 0.027" rpy="0 0 0"/>
      <parent link="${prefix}laser_base"/>
      <child link="${prefix}laser"/>
      <axis xyz="0 0 0"/>
    </joint>
    <link name="${prefix}laser"/>
  </xacro:macro>
</robot>
